.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  background-color: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
  margin: 0 0 1rem 0;
  gap: 1rem;
}

p {
  color: var(--gray-200);
  width: 100%;
  font-size: 0.8rem;
}

span {
  color: var(--gray-300);
  font-size: 0.7rem;
}

.checkbox {
  height: 24px;
  border-radius: 50%;
}

.checked {
  color: var(--purple);
  weight: fill;
}

.textCompleted {
  text-decoration: line-through;
}

.unchecked {
  color: var(--blue);
}

.trash {
  color: var(--gray-300);
}
