.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.4rem;
}

button {
  display: flex;
  height: 50px;
  width: auto;
  background: var(--blue-dark);
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
}

button:hover {
  background: var(--blue);
}

input {
  height: 50px;
  width: 100%;
  color: var(--gray-300);
  background: var(--gray-500);
  border-color: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}
